<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Unit Conversion App</title>
</head>
<center>
    <body bgcolor="#f0f9f9">
        <h1>Unit Conversion</h1>
        <table width="50%" cellpadding="30" cellspacing="10">
                <tr>
                    <td width="50%"align="right"><a href="/length"><h2>📏Length</h2></a></td>
                    <td width="50%"><a href="/time"><h2>⏳ Time</h2></a></td>
                </tr>
            </table>
            <hr width="50%">
        <p>This is the unit-converter home page.</p>
        <p>My first web App.😶</p>
    </body>
</center>
</html>